<div class="formulario autocontenedor">
    <div class="formtitle">
        <span class="tit_autenticar">@RecEtiquetas.Tit_Autenticar</span>
    </div>
    <div id="formulario">
        @Html.Partial("_RenovarPaso1")
    </div>
</div>
<!-- clearfix -->
<div class="clear">
</div>
<!-- /clearfix -->
